In [167]:
# Basic Libraries
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import math
import datetime as dt
import calendar

In [168]:
# Dataset
CASH_FLOW = pd.read_csv('DATASET/CASH_FLOW_01082018_31072019.csv')
CASH_FLOW = CASH_FLOW.set_index("Date")
CASH_FLOW.head()

,Income/Expenses,Category,Memo,Amount
Date,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0
2019-05-28,Expenses,Gift,NaN,-15.3
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8
2019-05-28,Expenses,Gift,NaN,-32.0
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0

In [169]:
# Dataset Description
CASH_FLOW.describe()

           Amount
count  622.000000
mean     1.656672
std     39.005284
min    -88.000000
25%     -5.300000
50%     -3.900000
75%     -2.800000
max    400.000000

<h2>Data Cleaning</h2>

<h3>Data Cleaning Part 1: Cleaning Memo Column</h3>
<p>Memo column contains 2 information: Item and Vendor along with the details of the Vendor Location. These columns are aimed to be separated for the purpose of data visualization.</p>

In [170]:
# Check Null Values in All Columns
CASH_FLOW.isnull().sum()

Income/Expenses     0
Category            0
Memo               38
Amount              0
dtype: int64

In [171]:
# Separate Memo Column into Item and Location Columns
CASH_FLOW[["Item","Location"]] = CASH_FLOW["Memo"].str.split('@', expand = True)
CASH_FLOW.head(10)

,Income/Expenses,Category,Memo,Amount,Item,Location
Date,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi"
2019-05-28,Expenses,Gift,NaN,-15.3,NaN,NaN
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8,Bubble Tea,"Koi, Takashimaya, Orchard"
2019-05-28,Expenses,Gift,NaN,-32.0,NaN,NaN
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor"
2019-05-28,Expenses,Gift,NaN,-8.3,NaN,NaN
2019-05-27,Expenses,Gift,NaN,-8.3,NaN,NaN
2019-05-27,Expenses,Fruits,"Juice @Boost Juice Bars, Bugis Junction, Bugis",-3.0,Juice,"Boost Juice Bars, Bugis Junction, Bugis"
2019-05-27,Expenses,Food,"Fried Seafood Hor Fun @Food Junction, Bugis Ju...",-6.5,Fried Seafood Hor Fun,"Food Junction, Bugis Junction, Bugis"
2019-05-27,Income,Cash Withdrawal,NaN,100.0,NaN,NaN

In [172]:
# Count Numbers of Entities in the Location Column
LOCATION_CHECK = []
for i in CASH_FLOW["Location"]: LOCATION_CHECK.append(str(i).count(",") + 1)
CASH_FLOW.insert(CASH_FLOW.shape[1],"Location Check", LOCATION_CHECK, True)
CASH_FLOW.head(10)

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check
Date,,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi",2
2019-05-28,Expenses,Gift,NaN,-15.3,NaN,NaN,1
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8,Bubble Tea,"Koi, Takashimaya, Orchard",3
2019-05-28,Expenses,Gift,NaN,-32.0,NaN,NaN,1
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor",2
2019-05-28,Expenses,Gift,NaN,-8.3,NaN,NaN,1
2019-05-27,Expenses,Gift,NaN,-8.3,NaN,NaN,1
2019-05-27,Expenses,Fruits,"Juice @Boost Juice Bars, Bugis Junction, Bugis",-3.0,Juice,"Boost Juice Bars, Bugis Junction, Bugis",3
2019-05-27,Expenses,Food,"Fried Seafood Hor Fun @Food Junction, Bugis Ju...",-6.5,Fried Seafood Hor Fun,"Food Junction, Bugis Junction, Bugis",3
2019-05-27,Income,Cash Withdrawal,NaN,100.0,NaN,NaN,1

In [173]:
# Fill Empty Location With "Blank, Blank, Blank"
CASH_FLOW = CASH_FLOW.fillna("Blank")
CASH_FLOW.loc[CASH_FLOW["Location"] == "Blank", "Location"] = "Blank, Blank, Blank"
CASH_FLOW.head(10)

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check
Date,,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi",2
2019-05-28,Expenses,Gift,Blank,-15.3,Blank,"Blank, Blank, Blank",1
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8,Bubble Tea,"Koi, Takashimaya, Orchard",3
2019-05-28,Expenses,Gift,Blank,-32.0,Blank,"Blank, Blank, Blank",1
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor",2
2019-05-28,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1
2019-05-27,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1
2019-05-27,Expenses,Fruits,"Juice @Boost Juice Bars, Bugis Junction, Bugis",-3.0,Juice,"Boost Juice Bars, Bugis Junction, Bugis",3
2019-05-27,Expenses,Food,"Fried Seafood Hor Fun @Food Junction, Bugis Ju...",-6.5,Fried Seafood Hor Fun,"Food Junction, Bugis Junction, Bugis",3
2019-05-27,Income,Cash Withdrawal,Blank,100.0,Blank,"Blank, Blank, Blank",1

In [174]:
# Fill Location Without Vendor Location with "Vendor, Blank, District" and Location without Vendor and Vendor Location with "Blank, Blank, District"
LOCATION_FIXED=[]
for i in CASH_FLOW["Location"]:
    SPLIT_STR=i.split(',')
    if len(SPLIT_STR)==1:
        FINAL_STR="Blank, Blank, {FIRST_ELEMENT}".format(FIRST_ELEMENT=SPLIT_STR[0].strip())
        LOCATION_FIXED.append(FINAL_STR)
    elif len(SPLIT_STR)==2:
        FINAL_STR="{FIRST_ELEMENT}, Blank,{SECOND_ELEMENT}".format(FIRST_ELEMENT=SPLIT_STR[0].strip(), SECOND_ELEMENT=SPLIT_STR[1].strip())
        LOCATION_FIXED.append(FINAL_STR)
    else:
        LOCATION_FIXED.append(i.strip())

CASH_FLOW.insert(CASH_FLOW.shape[1],"Location Fixed", LOCATION_FIXED, True)
CASH_FLOW.head(10)

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check,Location Fixed
Date,,,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi",2,"7-Eleven, Blank,Clementi"
2019-05-28,Expenses,Gift,Blank,-15.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank"
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8,Bubble Tea,"Koi, Takashimaya, Orchard",3,"Koi, Takashimaya, Orchard"
2019-05-28,Expenses,Gift,Blank,-32.0,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank"
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor",2,"I Am Kim, Blank,Rochor"
2019-05-28,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank"
2019-05-27,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank"
2019-05-27,Expenses,Fruits,"Juice @Boost Juice Bars, Bugis Junction, Bugis",-3.0,Juice,"Boost Juice Bars, Bugis Junction, Bugis",3,"Boost Juice Bars, Bugis Junction, Bugis"
2019-05-27,Expenses,Food,"Fried Seafood Hor Fun @Food Junction, Bugis Ju...",-6.5,Fried Seafood Hor Fun,"Food Junction, Bugis Junction, Bugis",3,"Food Junction, Bugis Junction, Bugis"
2019-05-27,Income,Cash Withdrawal,Blank,100.0,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank"

In [175]:
# REF: https://builtin.com/data-science/pandas-filter
# Location without Vendor and Vendor Location with "Blank, Blank, District" Check
CASH_FLOW[(CASH_FLOW["Location Check"]==1) & (CASH_FLOW["Location"]!="Blank, Blank, Blank")]

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check,Location Fixed
Date,,,,,,,,
2019-04-16,Expenses,Food,Mixed Rice @Geylang Bahru,-5.0,Mixed Rice,Geylang Bahru,1,"Blank, Blank, Geylang Bahru"
2019-04-04,Expenses,Haircut,Haircut @Dover,-10.0,Haircut,Dover,1,"Blank, Blank, Dover"
2018-11-06,Expenses,Haircut,Haircut @Dover,-10.0,Haircut,Dover,1,"Blank, Blank, Dover"

In [176]:
# Location Without Vendor Location with "Vendor, Blank, District"
CASH_FLOW[(CASH_FLOW["Location Check"]==2)]

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check,Location Fixed
Date,,,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi",2,"7-Eleven, Blank,Clementi"
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor",2,"I Am Kim, Blank,Rochor"
2019-05-24,Expenses,Food,"Red Mee Sua @Food District, Rochor",-5.0,Red Mee Sua,"Food District, Rochor",2,"Food District, Blank,Rochor"
2019-05-24,Expenses,Drinks,"Lemon Boom @Heytea, Clarke Quay",-2.7,Lemon Boom,"Heytea, Clarke Quay",2,"Heytea, Blank,Clarke Quay"
2019-05-24,Expenses,Dessert,"Chocolate Waffle @The Daily Scoop, Rochor",-3.9,Chocolate Waffle,"The Daily Scoop, Rochor",2,"The Daily Scoop, Blank,Rochor"
...,...,...,...,...,...,...,...,...
2018-11-02,Expenses,Fruits,"Juice @Bugis Street, Bugis",-1.0,Juice,"Bugis Street, Bugis",2,"Bugis Street, Blank,Bugis"
2018-11-02,Expenses,Food,"Salted Egg Chicken Rice @Sim Lim Square, Rochor",-5.5,Salted Egg Chicken Rice,"Sim Lim Square, Rochor",2,"Sim Lim Square, Blank,Rochor"
2018-10-31,Expenses,Food,"Mixed Rice @Lau Pa Sat, Raffless Place",-3.8,Mixed Rice,"Lau Pa Sat, Raffless Place",2,"Lau Pa Sat, Blank,Raffless Place"
2018-10-30,Expenses,Food,"Hot Plate @Ngee Ann Polytechnic, Clementi",-3.8,Hot Plate,"Ngee Ann Polytechnic, Clementi",2,"Ngee Ann Polytechnic, Blank,Clementi"
2018-10-29,Expenses,Food,"Spaghetti @Ngee Ann Polytechnic, Clementi",-5.0,Spaghetti,"Ngee Ann Polytechnic, Clementi",2,"Ngee Ann Polytechnic, Blank,Clementi"

In [177]:
# Separate Location into 3 Columns: Vendor, Vendor Location, and District
CASH_FLOW[["Vendor","Vendor Location","District"]] = CASH_FLOW["Location Fixed"].str.split(',', expand = True)
CASH_FLOW.head(10)

,Income/Expenses,Category,Memo,Amount,Item,Location,Location Check,Location Fixed,Vendor,Vendor Location,District
Date,,,,,,,,,,,
2019-05-28,Expenses,Telephone,"Top Up Singtel Card @7-Eleven, Clementi",-10.0,Top Up Singtel Card,"7-Eleven, Clementi",2,"7-Eleven, Blank,Clementi",7-Eleven,Blank,Clementi
2019-05-28,Expenses,Gift,Blank,-15.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank",Blank,Blank,Blank
2019-05-28,Expenses,Drinks,"Bubble Tea @Koi, Takashimaya, Orchard",-1.8,Bubble Tea,"Koi, Takashimaya, Orchard",3,"Koi, Takashimaya, Orchard",Koi,Takashimaya,Orchard
2019-05-28,Expenses,Gift,Blank,-32.0,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank",Blank,Blank,Blank
2019-05-28,Expenses,Food,"Korean BBQ @I Am Kim, Rochor",-15.0,Korean BBQ,"I Am Kim, Rochor",2,"I Am Kim, Blank,Rochor",I Am Kim,Blank,Rochor
2019-05-28,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank",Blank,Blank,Blank
2019-05-27,Expenses,Gift,Blank,-8.3,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank",Blank,Blank,Blank
2019-05-27,Expenses,Fruits,"Juice @Boost Juice Bars, Bugis Junction, Bugis",-3.0,Juice,"Boost Juice Bars, Bugis Junction, Bugis",3,"Boost Juice Bars, Bugis Junction, Bugis",Boost Juice Bars,Bugis Junction,Bugis
2019-05-27,Expenses,Food,"Fried Seafood Hor Fun @Food Junction, Bugis Ju...",-6.5,Fried Seafood Hor Fun,"Food Junction, Bugis Junction, Bugis",3,"Food Junction, Bugis Junction, Bugis",Food Junction,Bugis Junction,Bugis
2019-05-27,Income,Cash Withdrawal,Blank,100.0,Blank,"Blank, Blank, Blank",1,"Blank, Blank, Blank",Blank,Blank,Blank

In [178]:
# Drop Memo, Location, Location Check, and Location Fixed
CASH_FLOW = CASH_FLOW.drop(columns=["Memo","Location","Location Check","Location Fixed"])
CASH_FLOW.head(10)

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District
Date,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi
2019-05-28,Expenses,Gift,-15.3,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard
2019-05-28,Expenses,Gift,-32.0,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor
2019-05-28,Expenses,Gift,-8.3,Blank,Blank,Blank,Blank
2019-05-27,Expenses,Gift,-8.3,Blank,Blank,Blank,Blank
2019-05-27,Expenses,Fruits,-3.0,Juice,Boost Juice Bars,Bugis Junction,Bugis
2019-05-27,Expenses,Food,-6.5,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis
2019-05-27,Income,Cash Withdrawal,100.0,Blank,Blank,Blank,Blank

In [179]:
# Remove Leading & Trailing Whitespaces 

# Pre-Copy-on-Write Behaviour of Pandas (Pandas 3.0) is in Place
# for i in (CASH_FLOW[["Vendor","Vendor Location","District"]]):
#     for j in range(0, len(CASH_FLOW[i])):
#         CASH_FLOW[i].iloc[j] = CASH_FLOW[i].iloc[j].strip()

# Post-Copy-on-Write Behaviour of Pandas (Pandas 3.0) is in Place
for col in (CASH_FLOW[["Vendor","Vendor Location","District"]]):
    CASH_FLOW[col] = CASH_FLOW[col].str.strip()

CASH_FLOW

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District
Date,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi
2019-05-28,Expenses,Gift,-15.3,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard
2019-05-28,Expenses,Gift,-32.0,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor
...,...,...,...,...,...,...,...
2018-10-29,Expenses,Food,-5.0,Spaghetti,Ngee Ann Polytechnic,Blank,Clementi
2018-10-29,Expenses,Food,-3.6,Mixed Rice,Food Clique,SIM,Clementi
2018-10-28,Expenses,Fruits,-2.5,Juice,Boost Juice Bars,Northpoint Shopping Centre,Yishun
2018-10-28,Expenses,Food,-4.7,Mixed Rice,Kopitiam,Northpoint Shopping Centre,Yishun
2018-10-28,Income,Cash Withdrawal,180.0,Cash Withdrawal + Current Balance,Blank,Blank,Blank

<h3>Data Cleaning Part 2: Item Column</h3>
<p>Item Column is arranged, so that the column does not contain blank values. If the a row happens to have "Blank" value on the Item column, the item column will take the value from the Category column.</p>

In [180]:
# Copy the Values from the Category if the Value in the Item Column is "Blank"
CASH_FLOW.loc[CASH_FLOW["Item"]=="Blank","Item"] = CASH_FLOW.loc[CASH_FLOW["Item"]=="Blank","Category"]
CASH_FLOW.head(10)

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District
Date,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi
2019-05-28,Expenses,Gift,-15.3,Gift,Blank,Blank,Blank
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard
2019-05-28,Expenses,Gift,-32.0,Gift,Blank,Blank,Blank
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor
2019-05-28,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank
2019-05-27,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank
2019-05-27,Expenses,Fruits,-3.0,Juice,Boost Juice Bars,Bugis Junction,Bugis
2019-05-27,Expenses,Food,-6.5,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis
2019-05-27,Income,Cash Withdrawal,100.0,Cash Withdrawal,Blank,Blank,Blank

<h3>Data Cleaning Part 3: Date Column</h3>
<p>The following information will be extracted from the Date column:
<ul>
    <li>The Name of the Day</li>
    <li>The Week Number (WW)</li>
    <li>Month (MM)</li>
    <li>Year (YYYY)</li>
</ul>
</p>

In [181]:
# Date Formatting on the "Date" Column and Generate "Day" and "Week" Columns Referring to Day of the Week and Week Number of the Year Respectively
DATE_FIXED = []
for date in CASH_FLOW.index:
    DATE_OBJECT = dt.datetime.strptime(str(date),'%Y-%m-%d')
    WEEK_NUMBER = DATE_OBJECT.isocalendar()[1]
    DATE_FIX = """{} W{} {}/{}/{}""".format(DATE_OBJECT.weekday(), WEEK_NUMBER, DATE_OBJECT.day, DATE_OBJECT.month, DATE_OBJECT.year)
    DATE_FIXED.append(DATE_FIX)
    
CASH_FLOW.insert(CASH_FLOW.shape[1],"Date Fixed", DATE_FIXED, True)
CASH_FLOW[["Day","Week","Date"]] = CASH_FLOW["Date Fixed"].str.split(' ', expand = True)
CASH_FLOW.head(10)

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District,Date Fixed,Day,Week,Date
Date,,,,,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-28,Expenses,Gift,-15.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-28,Expenses,Gift,-32.0,Gift,Blank,Blank,Blank,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-28,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,1,W22,28/5/2019
2019-05-27,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,0 W22 27/5/2019,0,W22,27/5/2019
2019-05-27,Expenses,Fruits,-3.0,Juice,Boost Juice Bars,Bugis Junction,Bugis,0 W22 27/5/2019,0,W22,27/5/2019
2019-05-27,Expenses,Food,-6.5,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis,0 W22 27/5/2019,0,W22,27/5/2019
2019-05-27,Income,Cash Withdrawal,100.0,Cash Withdrawal,Blank,Blank,Blank,0 W22 27/5/2019,0,W22,27/5/2019

<p><center>Day Number &rarr; Day of the Week Mapping Table:</center></p>
<table style='margin: 0 auto'>
  <tr>
    <th>Day Number</th>
    <th>Day of the Week</th>
  </tr>
  <tr>
    <td>0</td>
    <td>Monday</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Tuesday</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Wednesday</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Thursday</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Friday</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Saturday</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Sunday</td>
  </tr>
</table>

In [182]:
# Map the Day Column from Number of the Day to the Name of the Day 
DAY_MAPPING = dict(enumerate(calendar.day_name))
CASH_FLOW['Day'] = CASH_FLOW['Day'].astype(int).replace(DAY_MAPPING)
CASH_FLOW.head(10)

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District,Date Fixed,Day,Week,Date
Date,,,,,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-28,Expenses,Gift,-15.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-28,Expenses,Gift,-32.0,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-28,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,28/5/2019
2019-05-27,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,0 W22 27/5/2019,Monday,W22,27/5/2019
2019-05-27,Expenses,Fruits,-3.0,Juice,Boost Juice Bars,Bugis Junction,Bugis,0 W22 27/5/2019,Monday,W22,27/5/2019
2019-05-27,Expenses,Food,-6.5,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis,0 W22 27/5/2019,Monday,W22,27/5/2019
2019-05-27,Income,Cash Withdrawal,100.0,Cash Withdrawal,Blank,Blank,Blank,0 W22 27/5/2019,Monday,W22,27/5/2019

<p><center>Month Number &rarr; Month of the Year Mapping Table:</center></p>
<table style='margin: 0 auto'>
  <tr>
    <th>Month Number</th>
    <th>Month of the Year</th>
  </tr>
  <tr>
    <td>1</td>
    <td>January</td>
  </tr>
  <tr>
    <td>2</td>
    <td>February</td>
  </tr>
  <tr>
    <td>3</td>
    <td>March</td>
  </tr>
  <tr>
    <td>4</td>
    <td>April</td>
  </tr>
  <tr>
    <td>5</td>
    <td>May</td>
  </tr>
  <tr>
    <td>6</td>
    <td>June</td>
  </tr>
  <tr>
    <td>7</td>
    <td>July</td>
  </tr>
  <tr>
    <td>8</td>
    <td>August</td>
  </tr>
  <tr>
    <td>9</td>
    <td>September</td>
  </tr>
  <tr>
    <td>10</td>
    <td>October</td>
  </tr>
  <tr>
    <td>11</td>
    <td>November</td>
  </tr>
  <tr>
    <td>12</td>
    <td>December</td>
  </tr>
</table>

In [ ]:
# Remove Leading & Trailing Whitespaces 

# Pre-Copy-on-Write Behaviour of Pandas (Pandas 3.0) is in Place
# for i in (CASH_FLOW[["Vendor","Vendor Location","District"]]):
#     for j in range(0, len(CASH_FLOW[i])):
#         CASH_FLOW[i].iloc[j] = CASH_FLOW[i].iloc[j].strip()

# Post-Copy-on-Write Behaviour of Pandas (Pandas 3.0) is in Place
for col in (CASH_FLOW[["Vendor","Vendor Location","District"]]):
    CASH_FLOW[col] = CASH_FLOW[col].str.strip()

CASH_FLOW

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District
Date,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi
2019-05-28,Expenses,Gift,-15.3,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard
2019-05-28,Expenses,Gift,-32.0,Blank,Blank,Blank,Blank
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor
...,...,...,...,...,...,...,...
2018-10-29,Expenses,Food,-5.0,Spaghetti,Ngee Ann Polytechnic,Blank,Clementi
2018-10-29,Expenses,Food,-3.6,Mixed Rice,Food Clique,SIM,Clementi
2018-10-28,Expenses,Fruits,-2.5,Juice,Boost Juice Bars,Northpoint Shopping Centre,Yishun
2018-10-28,Expenses,Food,-4.7,Mixed Rice,Kopitiam,Northpoint Shopping Centre,Yishun
2018-10-28,Income,Cash Withdrawal,180.0,Cash Withdrawal + Current Balance,Blank,Blank,Blank

In [183]:
# Extract Month & Year from the Date
MONTH_MAPPING = dict(enumerate(calendar.month_name))
CASH_FLOW['Date'] = pd.to_datetime(CASH_FLOW['Date'])
CASH_FLOW['Year'], CASH_FLOW['Month'] = CASH_FLOW['Date'].dt.year, CASH_FLOW['Date'].dt.month.astype(int).replace(MONTH_MAPPING)
CASH_FLOW.head(10)

C:\Users\Ferdy Arianto Wiyogo\AppData\Local\Temp\ipykernel_31460\257929752.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  CASH_FLOW['Date'] = pd.to_datetime(CASH_FLOW['Date'])

,Income/Expenses,Category,Amount,Item,Vendor,Vendor Location,District,Date Fixed,Day,Week,Date,Year,Month
Date,,,,,,,,,,,,,
2019-05-28,Expenses,Telephone,-10.0,Top Up Singtel Card,7-Eleven,Blank,Clementi,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-28,Expenses,Gift,-15.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-28,Expenses,Drinks,-1.8,Bubble Tea,Koi,Takashimaya,Orchard,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-28,Expenses,Gift,-32.0,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-28,Expenses,Food,-15.0,Korean BBQ,I Am Kim,Blank,Rochor,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-28,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,1 W22 28/5/2019,Tuesday,W22,2019-05-28,2019,May
2019-05-27,Expenses,Gift,-8.3,Gift,Blank,Blank,Blank,0 W22 27/5/2019,Monday,W22,2019-05-27,2019,May
2019-05-27,Expenses,Fruits,-3.0,Juice,Boost Juice Bars,Bugis Junction,Bugis,0 W22 27/5/2019,Monday,W22,2019-05-27,2019,May
2019-05-27,Expenses,Food,-6.5,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis,0 W22 27/5/2019,Monday,W22,2019-05-27,2019,May
2019-05-27,Income,Cash Withdrawal,100.0,Cash Withdrawal,Blank,Blank,Blank,0 W22 27/5/2019,Monday,W22,2019-05-27,2019,May

In [184]:
# Data Frame Rearrangement
CASH_FLOW = CASH_FLOW[["Year","Month","Week","Day","Category","Item","Vendor","Vendor Location","District","Income/Expenses","Amount"]]
CASH_FLOW.head(10)

,Year,Month,Week,Day,Category,Item,Vendor,Vendor Location,District,Income/Expenses,Amount
Date,,,,,,,,,,,
2019-05-28,2019,May,W22,Tuesday,Telephone,Top Up Singtel Card,7-Eleven,Blank,Clementi,Expenses,-10.0
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,-15.3
2019-05-28,2019,May,W22,Tuesday,Drinks,Bubble Tea,Koi,Takashimaya,Orchard,Expenses,-1.8
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,-32.0
2019-05-28,2019,May,W22,Tuesday,Food,Korean BBQ,I Am Kim,Blank,Rochor,Expenses,-15.0
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,-8.3
2019-05-27,2019,May,W22,Monday,Gift,Gift,Blank,Blank,Blank,Expenses,-8.3
2019-05-27,2019,May,W22,Monday,Fruits,Juice,Boost Juice Bars,Bugis Junction,Bugis,Expenses,-3.0
2019-05-27,2019,May,W22,Monday,Food,Fried Seafood Hor Fun,Food Junction,Bugis Junction,Bugis,Expenses,-6.5
2019-05-27,2019,May,W22,Monday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.0

<h3>Data Cleaning Part 4: Amount Column</h3>
<p>The Amount column is cleaned to have the positive values within the column.</p>

In [185]:
# Make All the Values in Absolute Values
AMOUNT_FIXED = []
for i in CASH_FLOW["Amount"]:
    if i < 0:
        AMOUNT_FIXED.append(np.abs(i))
    else:
         AMOUNT_FIXED.append(i)
CASH_FLOW["Amount"] = AMOUNT_FIXED
CASH_FLOW

C:\Users\Ferdy Arianto Wiyogo\AppData\Local\Temp\ipykernel_31460\3210535520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CASH_FLOW["Amount"] = AMOUNT_FIXED

,Year,Month,Week,Day,Category,Item,Vendor,Vendor Location,District,Income/Expenses,Amount
Date,,,,,,,,,,,
2019-05-28,2019,May,W22,Tuesday,Telephone,Top Up Singtel Card,7-Eleven,Blank,Clementi,Expenses,10.0
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,15.3
2019-05-28,2019,May,W22,Tuesday,Drinks,Bubble Tea,Koi,Takashimaya,Orchard,Expenses,1.8
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,32.0
2019-05-28,2019,May,W22,Tuesday,Food,Korean BBQ,I Am Kim,Blank,Rochor,Expenses,15.0
...,...,...,...,...,...,...,...,...,...,...,...
2018-10-29,2018,October,W44,Monday,Food,Spaghetti,Ngee Ann Polytechnic,Blank,Clementi,Expenses,5.0
2018-10-29,2018,October,W44,Monday,Food,Mixed Rice,Food Clique,SIM,Clementi,Expenses,3.6
2018-10-28,2018,October,W43,Sunday,Fruits,Juice,Boost Juice Bars,Northpoint Shopping Centre,Yishun,Expenses,2.5
2018-10-28,2018,October,W43,Sunday,Food,Mixed Rice,Kopitiam,Northpoint Shopping Centre,Yishun,Expenses,4.7
2018-10-28,2018,October,W43,Sunday,Cash Withdrawal,Cash Withdrawal + Current Balance,Blank,Blank,Blank,Income,180.0

<h2>Data Check</h2>

In [186]:
CASH_FLOW_CAT_DIST = CASH_FLOW.reset_index().pivot_table(index = "District", columns = "Category", values = "Amount", aggfunc='sum').fillna(0)
CASH_FLOW_CAT_DIST

Category,Body Care,Cash Withdrawal,Clothing,Dessert,Drinks,Electronics,Entertainment,Food,Fruits,Gift,...,Health,Home,Last Month's Balance,Movies,Others,Snacks,Sport,Stationary,Telephone,Transportation
District,,,,,,,,,,,,,,,,,,,,,
Alexandra,0.0,0.0,0.0,0.0,0.00,0.0,0.0,10.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Bayfront,0.0,0.0,0.0,0.0,0.00,0.0,10.8,9.40,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,4.5,0.0,0.00,0.0,0.0
Beauty World,0.0,0.0,0.0,3.8,0.00,0.0,0.0,9.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Bishan,0.0,0.0,0.0,8.0,0.00,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Blank,0.0,3280.0,0.0,0.0,0.00,0.0,88.0,0.00,0.00,335.8,...,0.0,30.0,876.15,0.0,434.0,0.0,0.0,0.00,0.0,568.5
Boon Lay,0.0,0.0,0.0,0.0,0.00,0.0,0.0,4.50,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Bugis,0.0,0.0,0.0,2.7,0.00,0.0,0.0,14.00,9.40,10.0,...,5.9,0.0,0.00,0.0,0.0,3.5,0.0,0.00,0.0,0.0
Buona Vista,0.0,0.0,0.0,0.0,1.30,0.0,0.0,26.30,0.00,0.0,...,0.0,1.8,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Changi,0.0,0.0,0.0,0.0,5.10,0.0,0.0,55.10,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
City Hall,0.0,0.0,0.0,0.0,2.60,0.0,0.0,8.00,2.25,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,10.0,0.0
Clarke Quay,0.0,0.0,0.0,0.0,2.70,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Clementi,14.0,0.0,0.0,10.5,11.40,0.0,0.0,937.10,2.00,3.8,...,0.0,0.0,0.00,30.5,0.0,68.6,0.0,16.45,50.0,0.0
Dhoby Ghaut,0.0,0.0,0.0,0.0,0.00,0.0,0.0,4.80,10.60,0.0,...,0.0,2.0,0.00,0.0,0.0,4.3,0.0,0.00,0.0,0.0
Dover,0.0,0.0,0.0,0.0,1.15,0.0,0.0,132.80,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Esplanade,0.0,0.0,0.0,0.0,2.20,0.0,0.0,5.50,3.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Expo,0.0,0.0,0.0,0.0,1.80,0.0,0.0,8.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Farrer Park,0.0,0.0,0.0,0.0,1.80,0.0,0.0,14.50,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,2.9,0.0,0.00,0.0,0.0
Geylang Bahru,0.0,0.0,0.0,0.0,0.00,0.0,0.0,7.20,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,2.3,0.0,0.00,0.0,0.0
Gillman Barrack,0.0,0.0,0.0,4.7,0.00,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Harbourfront,0.0,0.0,0.0,1.8,0.00,0.0,0.0,69.40,5.50,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Holland Village,0.0,0.0,0.0,6.0,30.80,0.0,0.0,31.50,15.00,0.0,...,0.0,0.0,0.00,0.0,0.0,10.8,0.0,0.00,0.0,0.0
Jurong East,7.7,0.0,0.0,0.0,38.40,6.4,0.0,122.20,0.00,0.0,...,0.0,0.0,0.00,13.5,0.0,21.3,0.0,0.00,0.0,0.0
Labrador Park,0.0,0.0,0.0,0.0,0.00,0.0,0.0,5.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Marina Bay,0.0,0.0,0.0,0.0,0.00,0.0,0.0,9.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Novena,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,6.5,0.0,2.4,0.0,0.00,0.0,0.0
Orchard,0.0,0.0,29.9,13.5,17.30,0.0,0.0,52.50,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,16.7,0.0,0.00,0.0,0.0
Promenade,0.0,0.0,0.0,0.0,0.00,10.0,0.0,49.35,3.00,0.0,...,0.0,0.0,0.00,0.0,0.0,7.6,0.0,0.00,0.0,0.0
Raffless Place,0.0,0.0,0.0,0.0,0.00,0.0,0.0,3.80,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Rochor,0.0,0.0,0.0,3.9,1.00,0.0,0.0,42.30,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Serangoon,0.0,0.0,0.0,0.0,0.40,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,4.3,0.0,8.00,0.0,0.0
Somerset,0.0,0.0,0.0,3.4,1.80,0.0,0.0,47.40,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0
Stadium,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,6.0,0.00,0.0,0.0
Yishun,0.0,0.0,0.0,0.0,0.00,0.0,0.0,11.20,2.50,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0.0

In [187]:
CASH_FLOW_MONTH_CAT = CASH_FLOW.reset_index().pivot_table(index = "Category", columns = "Month", values = "Amount", aggfunc='sum').fillna(0)
CASH_FLOW_MONTH_CAT

Month,April,December,February,January,March,May,November,October
Category,,,,,,,,
Body Care,0.0,0.00,7.7,14.0,0.0,0.0,0.00,0.00
Cash Withdrawal,600.0,500.00,100.0,500.0,500.0,500.0,400.00,180.00
Clothing,14.9,0.00,0.0,0.0,0.0,15.0,0.00,0.00
Dessert,10.5,6.10,0.0,4.7,7.0,16.0,14.00,0.00
Drinks,19.1,8.50,3.0,3.4,23.5,58.7,3.55,0.00
Electronics,0.0,10.00,6.4,0.0,0.0,0.0,0.00,0.00
Entertainment,0.0,88.00,0.0,0.0,10.8,0.0,0.00,0.00
Food,235.6,238.55,227.2,213.5,284.1,263.3,202.40,25.20
Fruits,0.0,13.70,3.0,5.7,10.0,3.0,13.10,4.75
Gift,26.4,18.40,15.8,156.6,41.5,90.9,0.00,0.00
Groceries,18.6,15.25,19.6,9.2,20.4,33.8,18.95,0.00
Haircut,10.0,0.00,0.0,0.0,0.0,0.0,10.00,0.00
Health,0.0,0.00,0.0,0.0,0.0,0.0,5.90,0.00
Home,0.0,0.00,30.0,0.0,3.8,0.0,0.00,0.00
Last Month's Balance,115.3,121.20,94.0,82.4,154.8,215.8,92.65,0.00
Movies,9.5,7.00,6.5,0.0,13.5,7.0,7.00,0.00
Others,0.0,0.00,400.0,0.0,30.0,0.0,4.00,0.00
Snacks,8.9,21.30,7.4,23.3,34.9,21.3,24.70,7.40
Sport,0.0,0.00,0.0,0.0,0.0,0.0,6.00,0.00
Stationary,0.0,2.00,2.6,8.0,0.0,0.0,11.85,0.00
Telephone,10.0,10.00,10.0,0.0,10.0,20.0,0.00,0.00
Transportation,100.0,100.00,100.0,50.0,50.0,68.5,50.00,50.00

In [188]:
# Check Null Values in All Columns
CASH_FLOW.isnull().sum()

Year               0
Month              0
Week               0
Day                0
Category           0
Item               0
Vendor             0
Vendor Location    0
District           0
Income/Expenses    0
Amount             0
dtype: int64

In [189]:
CASH_FLOW.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 2019-05-28 to 2018-10-28
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             622 non-null    int32
 1   Month            622 non-null    object
 2   Week             622 non-null    object
 3   Day              622 non-null    object
 4   Category         622 non-null    object
 5   Item             622 non-null    object
 6   Vendor           622 non-null    object
 7   Vendor Location  622 non-null    object
 8   District         622 non-null    object
 9   Income/Expenses  622 non-null    object
 10  Amount           622 non-null    float64
dtypes: float64(1), int32(1), object(9)
memory usage: 72.0+ KB

In [190]:
EXPENSES = CASH_FLOW[(CASH_FLOW["Income/Expenses"] == "Expenses")]
EXPENSES

,Year,Month,Week,Day,Category,Item,Vendor,Vendor Location,District,Income/Expenses,Amount
Date,,,,,,,,,,,
2019-05-28,2019,May,W22,Tuesday,Telephone,Top Up Singtel Card,7-Eleven,Blank,Clementi,Expenses,10.0
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,15.3
2019-05-28,2019,May,W22,Tuesday,Drinks,Bubble Tea,Koi,Takashimaya,Orchard,Expenses,1.8
2019-05-28,2019,May,W22,Tuesday,Gift,Gift,Blank,Blank,Blank,Expenses,32.0
2019-05-28,2019,May,W22,Tuesday,Food,Korean BBQ,I Am Kim,Blank,Rochor,Expenses,15.0
...,...,...,...,...,...,...,...,...,...,...,...
2018-10-30,2018,October,W44,Tuesday,Snacks,Snack,Food Clique,SIM,Clementi,Expenses,2.6
2018-10-29,2018,October,W44,Monday,Food,Spaghetti,Ngee Ann Polytechnic,Blank,Clementi,Expenses,5.0
2018-10-29,2018,October,W44,Monday,Food,Mixed Rice,Food Clique,SIM,Clementi,Expenses,3.6
2018-10-28,2018,October,W43,Sunday,Fruits,Juice,Boost Juice Bars,Northpoint Shopping Centre,Yishun,Expenses,2.5
2018-10-28,2018,October,W43,Sunday,Food,Mixed Rice,Kopitiam,Northpoint Shopping Centre,Yishun,Expenses,4.7

In [191]:
INCOME = CASH_FLOW[(CASH_FLOW["Income/Expenses"] == "Income")]
INCOME

,Year,Month,Week,Day,Category,Item,Vendor,Vendor Location,District,Income/Expenses,Amount
Date,,,,,,,,,,,
2019-05-27,2019,May,W22,Monday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.00
2019-05-15,2019,May,W20,Wednesday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-05-04,2019,May,W18,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-05-01,2019,May,W18,Wednesday,Last Month's Balance,April's Balance,Blank,Blank,Blank,Income,215.80
2019-04-21,2019,April,W16,Sunday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-04-14,2019,April,W15,Sunday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-04-03,2019,April,W14,Wednesday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-04-01,2019,April,W14,Monday,Last Month's Balance,March's Balance,Blank,Blank,Blank,Income,115.30
2019-03-23,2019,March,W12,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.00
2019-03-14,2019,March,W11,Thursday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-03-02,2019,March,W9,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-03-01,2019,March,W9,Friday,Last Month's Balance,February's Balance,Blank,Blank,Blank,Income,154.80
2019-02-23,2019,February,W8,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.00
2019-02-05,2019,February,W6,Tuesday,Others,Others,Blank,Blank,Blank,Income,400.00
2019-02-01,2019,February,W5,Friday,Last Month's Balance,January's Balance,Blank,Blank,Blank,Income,94.00
2019-01-26,2019,January,W4,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.00
2019-01-19,2019,January,W3,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-01-05,2019,January,W1,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2019-01-01,2019,January,W1,Tuesday,Last Month's Balance,December's Balance,Blank,Blank,Blank,Income,82.40
2018-12-22,2018,December,W51,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,100.00
2018-12-09,2018,December,W49,Sunday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2018-12-01,2018,December,W48,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2018-12-01,2018,December,W48,Saturday,Last Month's Balance,November's Balance,Blank,Blank,Blank,Income,121.20
2018-11-17,2018,November,W46,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2018-11-03,2018,November,W44,Saturday,Cash Withdrawal,Cash Withdrawal,Blank,Blank,Blank,Income,200.00
2018-11-01,2018,November,W44,Thursday,Last Month's Balance,October's Balance,Blank,Blank,Blank,Income,92.65
2018-10-28,2018,October,W43,Sunday,Cash Withdrawal,Cash Withdrawal + Current Balance,Blank,Blank,Blank,Income,180.00

In [192]:
# Export Cleaned Data Frame to CSV
CASH_FLOW.to_csv("TEMP/CASH_FLOW_CLEANED.csv")
EXPENSES.to_csv("TEMP/EXPENSES_CLEANED.csv")
INCOME.to_csv("TEMP/INCOME_CLEANED.csv")